<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission pour accéder à Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.API_Retrofit"
        tools:targetApi="31">

        <!-- Déclaration de l'activité EditActivity -->
        <activity android:name=".EditActivity"
            android:exported="true" /> <!-- Exporté permet à l'activité d'être accessible par d'autres applications -->

        <!-- Déclaration de l'activité ImageActivity -->
        <activity android:name=".ImageActivity"
            android:exported="true" /> <!-- Exporté permet à l'activité d'être accessible par d'autres applications -->

        <!-- Déclaration de l'activité MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <!-- Filtre pour l'action principale, rendant cette activité le point d'entrée de l'application -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Catégorie pour spécifier que cette activité est l'activité de lancement -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
